@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

header{
    
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1%;
    justify-content: space-around;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    padding-right: 20%;
    padding-left: 20%;
    
}

.logo{
    
    width: 200px;
    height: 150px;
    padding-top: 5%;
    
}

nav{
    
    margin-left: 5%;
    margin-right: 5%;
}


.lista{
    text-align: center;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3px;
}

body{
    background-image: url('../imagenes/fondo-9.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto; /* Centrar el contenido horizontalmente */
    margin-right: auto;
}


h1,h2{
    color: blanchedalmond;
}

h1{
    font-size: clamp(32px,8vw,64px);
}

h2{
    font-size: 3.5vw;
}

p{
    color: blanchedalmond;
    font-size: clamp(16px,3.5vw,32px);
    font-family: "SUSE Mono", sans-serif;
}

a{
    text-decoration: none; 
}

.inicio,.galeria , .contacto{
    font-size: clamp(16px,3.5vw,32px);
    color: blanchedalmond;
    font-family:Oswald;  

}

section{
    border: solid blanchedalmond;
    text-align: center;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;


    
}

.contenedor{
    
    display: flex; /*Da una disposicion horizontal*/
    flex-direction: row;  /*Tambien puede ser columna : collumn*/
    justify-content: space-around;
    flex-wrap: wrap;  /*Me ayuda a que el cotenido se adapte */ 
    gap: 10px;
    padding-bottom: 0.5%;
    padding-left: 2%;
    padding-right: 2% ;
    
    
}


#card-paleo{
    border: solid rgb(47, 245, 255);
    width: 380px;
    height: 400px;
    margin-top: 3%;
}

#card-mezo , #card-ceno{
    border: solid rgb(47, 245, 255);
    width: 380px;
    height: 480px;
    margin-top: 3%;
    margin-bottom: 3%;
}






.boton{
    border: solid rgb(215, 90, 32);
    height: 8%;
    margin-top: 3px;
    /*margin-bottom: 10px;*/
    margin-left: 5%;
    margin-right: 5%;
    
}

button{
    background-color: rgb(46, 195, 46);
    font-size: clamp(16px,3.5vw,32px);
    width: 100%;
    height: 100%;
}

/*---------------------------------PALEOZOICO--------------------------------------------------*/
.foto-cam , .foto-ord , .foto-sil , .foto-dev, .foto-carb , .foto-permico{
    width: 100%;
    height: 58%;

}



.cam , .ord, .sil ,.dev, .carb , .perm{
    width: 100%;
    height: 100%;

}


/*---------------------------------MEZOSOICO--------------------------------------------------*/

.foto-tri , .foto-jur ,.foto-cret{
    width: 100%;
    height: 68%;

}


.tri , .jur, .cret {
    width: 100%;
    height: 100%;

}

/*---------------------------------CENOZOICA--------------------------------------------------*/
.foto-paleo, .foto-neo ,.foto-cuat{
    width: 100%;
    height: 68%;

}


.paleo , .neo, .cuat {
    width: 100%;
    height: 100%;

}


form{
    font-size: clamp(16px,3.5vw,32px);
    color: blanchedalmond;
    
    
}

footer{
    border: solid red;
    height: 350px;
    display: flex; /*Da una disposicion horizontal*/
    flex-direction: row;  /*Tambien puede ser columna : collumn*/
    justify-content: space-around;
    flex-wrap: wrap;  /*Me ayuda a que el cotenido se adapte */ 
    padding-left: 20%;
    padding-right: 20%;
    margin-left: 5%;
    margin-right: 5%;
}

.mapa{
    
   
    text-align: center;
}

.redes{
    width: 20%;
    text-align: center;
    
    display: flex; /*Da una disposicion horizontal*/
    flex-direction: column;  /*Tambien puede ser columna : collumn*/
    justify-content: space-evenly;
    flex-wrap: wrap;  /*Me ayuda a que el cotenido se adapte */ 
    
}


/* -------------------------RESPONSIVE-------------------------------------------------------- */

@media only screen and /*(min-width: 300px) and*/ (max-width: 600px){
    
    #card-paleo{
        width: 80%;
        height: 250px;
    }

    #card-mezo{
        width: 80%;
        height: 300px;

    }

        #card-ceno{
        width: 80%;
        height: 300px;

    }


    footer{
        height: 230px;
        padding-left: 5%;
        padding-right: 5%;

    }

    .mapa{
        width: 50%;
        height: 98%;
    }

    .redes{
        text-align: center;
        
        width: 30%;
        height: 98%;
    }
    
}

@media only screen and (min-width: 600px) and (max-width : 992px){
    
    #card-paleo{
        width: 50%;
    }

    section{
        padding-left: 1%;
        padding-right: 1%;
    }
    
    footer{
        padding-left: 5%;
        padding-right: 5%;
    }
    .mapa{
        width: 50%;
    }

    .redes{
        text-align: center;
        width: 20%;
    }





}